#━━━━━━━━━┏┓━━━━━━━━━━━━━━━━━━━━━━━#
#━━━━━━━━┏┛┗┓━━━━━━━━━━━━━━━━━━━━━━#
#━━┏━━┓┏┓┗┓┏┛┏┓┏━━┓┏━┓━┏━━┓┏━┓┏━━┓━#
#━━┃┏┓┃┣┫━┃┃━┣┫┃┏┓┃┃┏┓┓┃┏┓┃┃┏┛┃┏┓┃━#
#┏┓┃┗┛┃┃┃━┃┗┓┃┃┃┗┛┃┃┃┃┃┃┗┛┃┃┃━┃┃━┫━#
#┗┛┗━┓┃┗┛━┗━┛┗┛┗━┓┃┗┛┗┛┗━━┛┗┛━┗━━┛━#
#━━┏━┛┃━━━━━━━━┏━┛┃━━━━━━━━━━━━━━━━#
#━━┗━━┛━━━━━━━━┗━━┛━━━━━━━━━━━━━━━━#

# via @GitHub’s gitignore repo
# https://github.com/github/gitignore/raw/320a610b9ffba3ff28166370b6dd9f73096e34b7/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# CMake
# via @toptal
# https://github.com/toptal/gitignore/blob/624452f1f2f3d785ca3b75ac4fe491fc93656c8b/templates/JetBrains.gitignore#L40-L41
cmake-build-*/

# Xcode
# https://github.com/github/gitignore/blob/9df8aa603708600507c9ccb8f6e8d566a332e8ff/Global/Xcode.gitignore#L6-L13
xcuserdata/
build/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
